.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
}

.item{
    background-color: rgb(138, 138, 138);
    border-radius: 15px;
    margin: 10x;
}

